/* Centered card container */
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  .upload-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 500px;
    display: grid;
    gap: 1.5rem;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }
    .upload-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 1rem;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 2px;
      
    }
    .upload-form {
      display: grid;
      gap: 1.5rem;
    }
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
    font-size: 15px;
    &:focus {
      border-color: #007bff;
      outline: none;
    }

    label {
      font-size: 14px;
      color: #555;
    }
  }

  select {
    width: 100%;
    max-width: 300px;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none; /* Removes default arrow */
  
    &:hover {
      border-color: #4caf50;
    }
  
    &:focus {
      border-color: #4caf50;
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
    }
  
    &::after {
      content: "▼";
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  
    option {
      padding: 10px;
      background: #fff;
      color: #333;
      font-size: 16px;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  
}
.upload-button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  &:hover {
    background-color: #0056b3;
  }
}

.upload-button:active {
  transform: scale(0.98);
}

@media (max-width: 1100px){
  .upload-container{
    width: 100%;
    .upload-card{
    }
  }
  .input-group{
    width: 100%;
    input{
  
    }
  }
}